appsettings.json
appsettings.*.json
!appsettings.Example.json
bin/
obj/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

**/node_modules/
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.*
!.env.development
!.env.production

.appsettings
.appsettings.*
!.appsettings.Development.json
Frontend/.env.development
Frontend/.env.production
Backend.Api/obj/Debug/net9.0/Backend.Api.AssemblyInfo.cs
Backend.Api/obj/Debug/net9.0/Backend.Api.AssemblyInfoInputs.cache
Backend.Api/wwwroot/index.html
Backend.Api/wwwroot/assets/index-BAvt9Lch.js
Backend.Api/wwwroot/assets/index-BQMO72vs.js
Backend.Api/obj/Debug/net9.0/Backend.Api.AssemblyInfo.cs
Backend.Api/wwwroot/index.html
Backend.Api/obj/Backend.Api.csproj.nuget.dgspec.json
Backend.Api/obj/Backend.Api.csproj.nuget.g.props
Backend.Api/obj/project.assets.json
Backend.Api/obj/project.nuget.cache
Backend.Api/obj/Debug/net9.0/Backend.Api.AssemblyInfo.cs
Backend.Api/obj/Debug/net9.0/Backend.Api.AssemblyInfoInputs.cache
Backend.Api/obj/Debug/net9.0/Backend.Api.assets.cache
Backend.Api/obj/Debug/net9.0/Backend.Api.GeneratedMSBuildEditorConfig.editorconfig
Backend.Api/obj/Release/net9.0/linux-x64/Backend.Api.AssemblyInfo.cs
Backend.Api/obj/Release/net9.0/linux-x64/Backend.Api.AssemblyInfoInputs.cache
Backend.Api/obj/Release/net9.0/linux-x64/Backend.Api.csproj.FileListAbsolute.txt
Backend.Api/obj/Release/net9.0/linux-x64/Backend.Api.dll
Backend.Api/obj/Release/net9.0/linux-x64/Backend.Api.pdb
Backend.Api/obj/Release/net9.0/linux-x64/Backend.Api.sourcelink.json
Backend.Api/obj/Release/net9.0/linux-x64/rbcswa.dswa.cache.json
Backend.Api/obj/Release/net9.0/linux-x64/rjimswa.dswa.cache.json
Backend.Api/obj/Release/net9.0/linux-x64/rjsmcshtml.dswa.cache.json
Backend.Api/obj/Release/net9.0/linux-x64/rjsmrazor.dswa.cache.json
Backend.Api/obj/Release/net9.0/linux-x64/rpswa.dswa.cache.json
Backend.Api/obj/Release/net9.0/linux-x64/staticwebassets.build.endpoints.json
Backend.Api/obj/Release/net9.0/linux-x64/staticwebassets.build.json
Backend.Api/obj/Release/net9.0/linux-x64/staticwebassets.build.json.cache
Backend.Api/obj/Release/net9.0/linux-x64/staticwebassets.development.json
Backend.Api/obj/Release/net9.0/linux-x64/staticwebassets.publish.endpoints.json
Backend.Api/obj/Release/net9.0/linux-x64/staticwebassets.publish.json
Backend.Api/obj/Release/net9.0/linux-x64/ref/Backend.Api.dll
Backend.Api/obj/Release/net9.0/linux-x64/refint/Backend.Api.dll
Backend.Api/wwwroot/index.html
Backend.Api/wwwroot/assets/index-BQMO72vs.js
